* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.start {
  width: 600px;
  height: 800px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.start__image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.start__button {
  width: 100%;
  height: 80px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}


.start__title, .start__subtitle {
  text-align: center;
  color: white;
}

.start__lose {
  width: 400px;
  text-align: center;
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 50%;
  transform: translateX(-200px);
  display: none;
  font-size: 50px;
}

body, button{
  font-family: 'VT323', monospace; 
}